*{
    /* margin: 0;
    padding: 0;
    border: 0;
    outline: 0; */
    list-style: none;
    /* text-decoration: none; */
    box-sizing: border-box;
}

/* body{
    
    background-image: url("/img/background/2.jpg");
} */

#lance{
    float:left;
    width: 30%;
}

div .contagem{
    background-color: rgb(185, 194, 194);
    color: black;
    font-style: oblique;
    width: 100% !important;
    font-weight: bold;
    font-style: normal ;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}
div .contagem span{
    font-size: xx-large;
    border-radius: 5px;
}

div h4{
    padding-left: 5px;
}

.ultimo{
    border: 1px solid black;
}

.lance{
    border-radius: 0 0 10px 10px;
}


.botao-lance{
    
    width: 100%;
    color: white;
    font-style: oblique;
    background-color: #0ca34a;
    border-radius: 5px;
    height: 50px;
}

.descricao-lote{
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 10px;
}
.info-lote{
    background-color: rgb(238, 238, 238); 
    border: 1px solid none;
    padding: 10px;
    border-radius: 10px;
}
.info-lote span{
    font-size: 12;
}

.tempo{
    border: 20px;
    border-color: black;
}

.card-text-right{
    min-height: 120px;
}

.responsive{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.card-img-top{
    width: auto;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sombra{
    box-shadow: 10px 10px 10px grey;
    border-width: 30px;
    
}

.menu-destaque ul{
    top: 200px;
    list-style-type: none;
    text-align: center;

}
.menu-destaque li{
    display: inline-block;
    width: 45%;
    max-width: 150px;
    box-shadow: 20px 20px 20px 20px grey;
    border-radius: 10px;
    border-width: 30px;
    padding-left: 10px;
    border-color: black;
}

.menu-destaque li a{
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


.carousel{
    top: auto;
}

.menu-destaque{
    top:100px;
}

.noticias{
    padding-left: 16px;
    padding-top:10px;
    padding-bottom: 100px;
}

.noticias-card{
    clear: both;
    display: flex;
    flex-wrap: wrap;
}


.noticias div img{
    float: left;
    margin-right: 24px;
    width: 300px;
    height: 200px;
}

.noticias .row{
    padding-bottom: 10px;
    padding-top:10px;
    margin: 0 -12px;
}
.noticias .row a h3{
    list-style: none;
    color: black;
    text-decoration: none;
}

.titulo{
    padding-top: 30px;
}

footer{
    background-color: black;
    color: white;
    padding-top: 100px;
}

footer div .links li{
    list-style-type: none;
    padding-bottom: 10px;
}

.carousel img{
    width: auto;
    height: auto;
    max-height: 650px;
}

table tbody th{
    text-decoration: none;
}

.form-cadastro-livro{
    background-color: #e9ecef;
    padding: 15px;
}

.container table .table{
    border-radius: 0 0 10px 10px; 
}

table {
    table-layout:fixed;
}

.descricao{
    table-layout:fixed;
    overflow:hidden;
}

svg:hover path {
    fill: green;
  }


.btn i{
    color: white;
}
tbody div .row button{
    margin-right: 200px;
}
.btn-especial{
    margin-left: 80px;
}
.btn-especial2{
    margin-right: 20px;
}

.row .card{

}

/* Efeito fadein */
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    .fadeIn {
        -webkit-animation: fadeIn 0.1s ease-in-out;
        -moz-animation: fadeIn 0.1s ease-in-out;
        -o-animation: fadeIn 0.1s ease-in-out;
        animation: fadeIn 0.1s ease-in-out;
        }

